# conf/setattn.yaml
defaults:
  - base

out_dir: out-formal
eval_interval: 200
eval_iters: 200
log_interval: 50
always_save_checkpoint: false

wandb:
  log: false
  project: setattn-formal
  run_name: ${attn.type}

data:
  gradient_accumulation_steps: 1
  batch_size: 32
  block_size: 256
  # for dataloader
  dataset: Parity
  mode: train
  p_val: 0.5
  q_val: 0.5
  lang: Parity
  num_par: null
  lower_window: 2
  upper_window: 50
  training_size: 10000
  test_size: 2000
  len_incr: 50
  num_bins: 3
  debug: false
  loss_type: mse

model:
  n_layer: 2
  n_head: 4
  n_embd: 64
  dropout: 0.1

optim:
  learning_rate: 1e-3
  epochs: 100
  lr_decay_iters: 5000
  min_lr: 1e-4
  beta2: 0.99

lr_decay:
  warmup_iters: 100

attn:
  type: vanilla
  level: 1
  levelmax: 5 # log2(50)
  levelrand: true
  smaller_sets: False
  feature_map: 'elementwise_product'